* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Tailwind';
    font-weight:lighter;
}
@font-face {
    font-family: TailWind;
    src: url(/Tailwind\ Black.ttf);
}
html,body{
    margin: 0;
    padding: 0;
}
img{
    width:200px;
    display: block;
}
#page1{
    min-height: 100vh;
    min-width:100vw;
    background-color: #e2fafd;
    position: relative;
}
nav{
    padding-left: 2vw;
    padding-right: 2vw;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
#nav-part2{
    display: flex;
    align-items: center;
    gap: 1vw;
}
#nav-part2 h4{
    padding: 1vh 3vw;
    border: 1px solid #8a8a8a89;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.nav-items:hover{
    background-color: #00dbca;
    transition: all ease-in-out 500ms;
    color: #ffffff
}
.dash-main{
    font-weight: lighter;
    line-height:22px;
    padding: 2vw;
}

.dash-main > h2{
    color: #00dacb;
    padding: 1vw;
}
.dash-main > h2 > pre{
    color: #005a91;
}
.dash-main > p{
    color: #fac382;
}
.form , .form1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10% auto;
    width: 80%;
    max-width: 500px;
    height: auto;
    background-color: white;
    border: 1px solid white;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}
.login , .signup{
    padding: 20px;
    text-align: left;
    width: 100%;
}
#usr,
#pass , #passw , #usrname , #email , #phone , #passwr{
    border: 1px solid #0e0c0c89;
    border-radius: 5px;
    text-align: left;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
    width: 100%;
    color: black;
    font-weight: thin;
}

.form1>h2 , .form > h2 {
    padding-top: 20px;
    margin-bottom: 10px;
}

.form1 > h6 , .form > h6 {
    padding-top: 3px;
    font-style: italic;
    font-weight: lighter;
    margin-bottom: 20px;
}

.submit , .sign{
    height: 40px;
    width: 100%;
    background-color: #0a66c2;
    border: none;
    border-radius: 25px;
    color: white;
    font-weight: lighter;
    cursor: pointer;
}

.submit:hover {
    background-color: #178bff;
    transition: background-color ease-in-out 0.5s;
}
.sign:hover {
    background-color: #178bff;
    transition: background-color ease-in-out 0.5s;
}
.show , .shows{
    cursor: pointer;
    color: #0a66c2;
    font-size: smaller;
    text-decoration: none;
    display: block;
    margin-top: 10px;
    text-align: right;
    top:55p;
}
.createacc , .logins{
    cursor: pointer;
    color: #0a66c2;  
    font-size: smaller;
    text-decoration: none;
    display: block;
    margin-top: 10px;
}

/* Add any additional styles as needed */
@media only screen and (max-width: 600px) {
    .form {
        width: 90%;
    }
}

